/* fontawesome.com: web chuyên icon */
/* padding: khoảng cách giữa phần tử với viền
   margin: khoảng cách giữa các phần tử */
/* bước reset CSS */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
/* box-sizing: tránh lỗi tràn thông tin */
}

body {
/* phối màu nền: (css.gradient)*/
background: radial-gradient(circle,rgb(255, 112, 212) 0%, rgb(255, 255, 255) 100%);
min-height: 100vh;
/* xử lí chiều cao nhỏ nhất của body */
position: relative;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* z-index để điều chỉnh thứ tự, theo thứ tự từ cao tới thấp */
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 11px;


}


.logo {
    font-size: 25px;
    font-weight: 700;
    background: linear-gradient(to right, #77329a, #c0357a);
    background-clip: text;
    color: transparent;
    padding: 0px 5px 5px;
    /* cách chuyển màu từ background sang chữ */
}
/* tất cả ul trong thẻ nav */
nav ul {
display: flex;
gap: 30px;
list-style: none;
/* list style là điều chỉnh kiểu thứ tự danh sách (vì là ul (nút) nên đang mặc định có dấu chấm)*/

}

nav a {
text-decoration: none;
/*điều chỉnh kiểu trang trí của chữ (vì là ul (nút) nên đang mặc định có underline) */
color: rgb(0, 0, 0);
}

.button {
    padding: 12px 25px;
    border-radius: 25px;
    background-color: #ea97d4;
    border: none;
    outline: none;
    display: flex;
    gap: 10px;
}

.button > span {
    color: #000000;
}

.bar {
    display: none;
    font-size: 35px;
    color: #94285e;
    cursor: pointer;
}

main {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
}

.intro {
    display: flex;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content > h1 {
    color: rgba(144, 68, 140, 0.701);
    font-size: 55px;
    font-weight: 2000;

    /* weight: độ dày của chữ */

}

.content > h1 > span {
font-size: 65px;
font-weight: 4000;
background: linear-gradient(to right, #77329a, #c0357a);
background-clip: text;
color: transparent;
padding: 0px 10px 10px;
}

.content > p:nth-of-type(1) {
/* sử dụng pseudo class: trỏ tới thẻ p đầu tiên trong class content vì đang có 2 p
Syntax:   selecter:pseudo class() */
font-size: 35px;
color: #b73476;
}

.content > p:nth-of-type(2) {
    font-size: 25px;
    color: #ba3a7aa2;
    background: linear-gradient(90deg,rgba(186, 58, 122, 0.8) 33.5%, rgba(255, 255, 255, 0.9) 38.5%);
    background-clip: text;
    color: transparent;
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin-top: 10px;
}

.btn-wrapper > .btn--start:hover {
    /* hover: di chuột vào sẽ tự chạy hiệu ứng bên trong */
    transform: scaleX(1.08);
    /* transform là để tạo hiệu ứng */
    transition: all 0.3s ease-in;
    /* theo thứ tự: áp dụng toàn bộ, thời gian chạy effect, tên effect */
    box-shadow: rgba(103, 42, 104, 0.877) 0px 7px 17px;
}

.btn-wrapper > .btn--read {
    color: #000000;
    padding: 12px 25px;
    background-color: transparent;
    border-radius: 25px;
    outline: none;
    border: 1px #c17eaf solid;
    position: relative;
    overflow: hidden;
    /* để nó fit */
}

.btn-wrapper > .btn--read::before {
/* before: lớp trên cái nút More */
content: "";
position: absolute;
background-color: #bb3998;
width: 0%;
height: 100%;
/* cho nó vào đúng ô:*/
top: 0;
right: 0;
/* tạo hiệu ứng: */
transition: all 0.5s ease;
z-index: -1;
}

.btn-wrapper > .btn--read:hover {
color: white;
}

.btn-wrapper > .btn--read:hover::before {
    width: 100%;
    }
    

.box-img {
    width: 50%;
    /* điều chỉnh kích thước ảnh img */

}

.box-img img {
    max-width: 100%;
    object-fit: contain;

}

.block {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    color: #3f083d;
    padding: 70px 50px;
    margin: auto 0;
}

.card {
    border-radius: 10px;
    background-color: #ec9aff;
    padding: 30px;
    width: 290px;
    height: 120px;
    text-align: center;
}

.a {background-image: linear-gradient(to right, #ffcdf6 0%, #ee84ecc8  51%, #FBD3E9  100%)}
.a {
   margin: 10px;
   padding: 20px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color:#5a4160;            
   box-shadow: 0 0 20px #1b0202;
   border-radius: 10px;
   display: block;
 }

 .a:hover {
   background-position: right center; /* change the direction of the change here */
   color: #4f0337;
   text-decoration: none;
   transform: scale(1.11);
 }



footer {
    position: relative;
    top: 80px;
    padding: 40px 0 20px;
    /* trên 40px, trái phải 0, dưới 20px */
    text-align: center;
    /* canh giữa cái dòng chữ */
}

.relative {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: 1px solid #77329a;
    width:30%;
    margin:0 auto;
    /* căn giữa tự động */
    padding: 0 200px;
    /* trái phải cách viền 200px */
}
.social-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap:25px;
  }

.social-icon a {
    font-size: 22px;
    /* chỉnh size của icon */
    color: #77329a;
    cursor: pointer;
    text-decoration: none;
    border: none;
    transition: 1s all ease;
}

.social-icon a:hover {
    color: #0f1011;
    transform: scale(1.5);
  }

footer > p {
    font-size: 17px;
    color: #9b5388;
}

.special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.special-gothic-regular {
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.unbounded {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* weight from 200-900 */
    font-style: normal;
}
  
.acme-regular {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.playwrite-cu-italic {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    /* weight from 100-400 */
    font-style: normal;
}
  
.rubik-dirt-regular {
    font-family: "Rubik Dirt", system-ui;
    font-weight: 100;
    font-style: normal;
}

.playwrite-gb-s-unitalic {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    /* weight from 100-900 */
    font-style: normal;
}

.paprika-regular {
    font-family: "Paprika", system-ui;
    font-weight: 400;
    font-style: normal;
}

.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    /* weight from 400-700 */
    font-style: normal;
}

/* chỉnh sửa giao diện ở dạng điện thoại */
@media (max-width: 765px) {
    /* khi màn hình đạt tới 765px thì code này sẽ chạy */

    .container header .button {
        display: none;
    }

    nav {
        position: fixed;
        right: -100%;
        top: 2%;
        height: 50%;
        width: 50%;
        background-color: #b334747c;
        padding: 20px;
        border-radius: 10px;
        transition: all 0.8s ease;
    }

    nav.active {
        right: 0;
    }
    nav ul {
        flex-direction: column;
        gap: 60px;

    }

    .bar {
        position: relative;
        display: block;
        right: 8px;
        transition: all 0.5s ease;
    }
    
    .bar:hover {
        transform: scale(1.2);
    }

    .intro {
        width: 100%;
        flex-wrap: wrap-reverse;
        /* xuống hàng */
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .content {
        width: 100%;
        flex-wrap: wrap;
        margin: auto 0;
        justify-content: center;
        align-items: center;    
        text-align: center;  
    }

    .button {
        background-color: #e15abbcd;
    }

}

@media (max-width: 510px) {
    main {
        gap: 0.5px;
    }

    .content h1 {
        white-space: nowrap;
        font-size: 50px;
        
    }
    .content h1 span {
        font-size: 60px;        
    }

    .content p {
        width: 480px;
        padding-left: 12px;
    }

    .btn-wrapper {
        gap: 17px;
    }

    footer {

    }

    .box-img img {
        width: 300px;
        height: 300px;
    }
}